@import "variables";

$color_1: #5f5950;
$color_2: #848484;

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
@keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}
	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}
.about {
	background: #fffaf3;
	.content {
		padding: 0 80px;
		h1 {
			font-weight: 400;
			font-size: 34px;
			color: $color_1;
		}
		h4 {
			font-size: 20px;
			font-weight: 700;
			margin-top: 5px;
		}
		p {
			font-size: 1rem;
			color: $color_2;
			&:last-child {
				margin-bottom: 0;
			}
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				margin-top: 20px;
				position: relative;
				padding-left: 26px;
			}
			i {
				font-size: 20px;
				color: $main-color;
				position: absolute;
				left: 0;
				top: 2px;
			}
		}
	}
	.video-box {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		min-height: 500px;
		position: relative;
	}
	.play-btn {
		width: 94px;
		height: 94px;
		background: radial-gradient($main-color 50%, rgba(255, 176, 59, 0.4) 52%);
		border-radius: 50%;
		display: block;
		position: absolute;
		left: calc(50% - 47px);
		top: calc(50% - 47px);
		overflow: hidden;
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-40%) translateY(-50%);
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 15px solid #fff;
			z-index: 100;
			transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
		&::before {
			content: "";
			position: absolute;
			width: 120px;
			height: 120px;
			animation-delay: 0s;
			animation: pulsate-btn 2s;
			animation-direction: forwards;
			animation-iteration-count: infinite;
			animation-timing-function: steps;
			opacity: 1;
			border-radius: 50%;
			border: 5px solid rgba(255, 176, 59, 0.7);
			top: -15%;
			left: -15%;
			background: rgba(198, 16, 0, 0);
		}
		&:hover {
			&::after {
				border-left: 15px solid $main-color;
				transform: scale(20);
			}
			&::before {
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-40%) translateY(-50%);
				width: 0;
				height: 0;
				border: none;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 15px solid #fff;
				z-index: 200;
				animation: none;
				border-radius: 0;
			}
		}
	}
}
@media (max-width: 1024px) {
	.about {
		.content {
			padding-left: 0;
			padding-right: 0;
		}
		.accordion-list {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
@media (max-width: 992px) {
	.about {
		.content {
			padding-top: 30px;
		}
		.accordion-list {
			padding-bottom: 30px;
		}
	}
}
