$color_1: red;
$color_2: #fff;
$border-top-color_1: #eee;

/*--------------------------------------------------------------
# Book A Table
--------------------------------------------------------------*/
.book-a-table {
	.php-email-form {
		width: 100%;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
		padding: 30px;
		background: #fff;
		.form-group {
			padding-bottom: 8px;
		}
		.validate {
			display: none;
			color: $color_1;
			margin: 0 0 15px 0;
			font-weight: 400;
			font-size: 13px;
		}
		.error-message {
			display: none;
			color: $color_2;
			background: #ed3c0d;
			text-align: left;
			padding: 15px;
			font-weight: 600;
			br {
				+ {
					br {
						margin-top: 25px;
					}
				}
			}
		}
		.sent-message {
			display: none;
			color: $color_2;
			background: #18d26e;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: #fff;
			text-align: center;
			padding: 15px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: $border-top-color_1;
				animation: animate-loading 1s linear infinite;
			}
		}
		input {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			height: 44px;
		}
		textarea {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			padding: 10px 12px;
		}
		button[type="submit"] {
			background: var(--main-color);
			border: 0;
			padding: 10px 24px;
			color: $color_2;
			transition: 0.4s;
			border-radius: 50px;
			&:hover {
				background: #ffa012;
			}
		}
	}
}
