@import "variables";

$color_3: #7a7368;
$color_4: #fff;
$font-family_1: "Poppins", sans-serif;
$border-top-color_1: #eee;

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.contact {
	.info-wrap {
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
		padding: 30px;
	}
	.info {
		background: #fff;
		i {
			font-size: 20px;
			color: $main-color;
			float: left;
			width: 44px;
			height: 44px;
			background: #fff6e8;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50px;
			transition: all 0.3s ease-in-out;
		}
		h4 {
			padding: 0 0 0 60px;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 5px;
			color: $fourth-color;
			font-family: $font-family_1;
		}
		p {
			padding: 0 0 0 60px;
			margin-bottom: 0;
			font-size: 14px;
			color: $color_3;
		}
		&:hover {
			i {
				background: $main-color;
				color: $color_4;
			}
		}
	}
	.php-email-form {
		width: 100%;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
		padding: 30px;
		background: #fff;
		.form-group {
			padding-bottom: 8px;
		}
		.error-message {
			display: none;
			color: $color_4;
			background: #ed3c0d;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.sent-message {
			display: none;
			color: $color_4;
			background: #18d26e;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: #fff;
			text-align: center;
			padding: 15px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: $border-top-color_1;
				animation: animate-loading 1s linear infinite;
			}
		}
		input {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			height: 44px;
		}
		textarea {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			padding: 10px 12px;
		}
		button[type="submit"] {
			background: $main-color;
			border: 0;
			padding: 10px 24px;
			color: $color_4;
			transition: 0.4s;
			border-radius: 50px;
			&:hover {
				background: #ffa012;
			}
		}
	}
}
