@import "variables";

$color_1: #fff;

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background: #35322d;
	color: $color_1;
	font-size: 14px;
	text-align: center;
	padding: 30px 0 0 0;

	a {
		color: $color_1;
	}

	hr.design {
		height: 2px;
		width: 60px;
		background-color: $fifth-color;
	}

	h4 {
		color: $fourth-color;
	}

	.copyright {
		font-size: 13px;
		font-style: italic;
		p {
			margin: 0;
		}
	}
}
