@import "variables";

$color_1: #444444;
$color_2: #fff;
$color_3: #dad8d4;
$color_4: #ff9b08;
$color_5: #948c81;
$font-family_1: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-family_2: "Comic Neue", sans-serif;

/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu {
	#menu-flters {
		padding: 0;
		margin: 0 auto 0 auto;
		list-style: none;
		text-align: center;
		border-radius: 50px;
		li {
			cursor: pointer;
			display: inline-block;
			padding: 8px 16px 10px 16px;
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			color: $color_1;
			margin: 0 3px 10px 3px;
			transition: all ease-in-out 0.3s;
			background: #fff;
			border: 2px solid $main-color;
			border-radius: 50px;
			&:hover {
				color: $color_2;
				background: $main-color;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		li.filter-active {
			color: $color_2;
			background: $main-color;
		}
	}
	.menu-content {
		margin-top: 30px;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		position: relative;
		&::after {
			content: "......................................................................"
				"...................................................................."
				"....................................................................";
			position: absolute;
			left: 20px;
			right: 0;
			top: -4px;
			z-index: 1;
			color: $color_3;
			font-family: $font-family_1;
		}
		a {
			padding-right: 10px;
			background: #fff;
			position: relative;
			z-index: 3;
			font-weight: 700;
			color: $color_4;
		}
		span {
			background: #fff;
			position: relative;
			z-index: 3;
			padding: 0 10px;
			font-weight: 600;
		}
	}
	.menu-ingredients {
		font-style: italic;
		font-size: 14px;
		font-family: $font-family_2;
		color: $color_5;
	}
}
