@import "variables";

$color_1: #fff;
$color_2: #ddd;
$color_4: rgba(255, 255, 255, 0.4);
$color_5: #eee;
$font-family_1: "Poppins", sans-serif;
$font-family_2: "Comic Neue", sans-serif;
$background-color_1: rgba(255, 255, 255, 0.5);
$background-color_2: var(--main-color);

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
	padding: 80px 0;
	background: url("../img/testimonials-bg.jpg") no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(12, 11, 10, 0.7);
	}
	.section-header {
		margin-bottom: 40px;
	}
	.testimonials-carousel {
		overflow: hidden;
	}
	.testimonials-slider {
		overflow: hidden;
	}
	.testimonial-item {
		text-align: center;
		color: $color_1;
		.testimonial-img {
			width: 100px;
			border-radius: 50%;
			border: 6px solid rgba(255, 255, 255, 0.15);
			margin: 0 auto;
		}
		h3 {
			font-size: 20px;
			font-weight: bold;
			margin: 10px 0 5px 0;
			color: $color_1;
			font-family: $font-family_1;
		}
		h4 {
			font-size: 14px;
			color: $color_2;
			margin: 0 0 15px 0;
			font-family: $font-family_2;
		}
		.stars {
			color: $main-color;
			margin-bottom: 10px;
		}
		.quote-icon-left {
			color: $color_4;
			font-size: 26px;
			display: inline-block;
			left: -5px;
			position: relative;
		}
		.quote-icon-right {
			color: $color_4;
			font-size: 26px;
			display: inline-block;
			right: -5px;
			position: relative;
			top: 10px;
		}
		p {
			font-style: italic;
			margin: 0 auto 15px auto;
			color: $color_5;
		}
	}
	.swiper-pagination {
		margin-top: 20px;
		position: relative;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			background-color: $background-color_1;
			opacity: 1;
		}
		.swiper-pagination-bullet-active {
			background-color: $main-color;
		}
	}
}
@media (min-width: 992px) {
	.testimonials {
		.testimonial-item {
			p {
				width: 80%;
			}
		}
	}
}
